#root {
  width: 100%;
  max-width: 100%;
}

.body {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration-line: none;
}

.html {
  scroll-behavior: smooth;
}

.app-container::-webkit-scrollbar-track {
  background: white;
}

.jfooter-wrapper {
  width: 100%;
  height: 200px;
  color: white;
  background-color: #088cff;
  margin: 20px;
}
