* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0px;
}

.body {
  width: 100%;
  max-width: 100%;
  margin: 0px;
}

a {
  text-decoration-line: none;
}

.html {
  scroll-behavior: smooth;
}

.app-container::-webkit-scrollbar-track {
  background: white;
}

.footer-wrapper {
  width: calc(100%-160px);
  margin: 0px 80px 20px 80px;
  padding: 32px 20px;
  color: white;
  background-color: #088cff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer-top-box {
  width: calc(100% - 32px);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-logo {
  width: 102px;
  height: 26px;
}

.footer-menu-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer-menu-first-wrapper,
.footer-menu-second-wrapper,
.footer-menu-third-wrapper {
  width: 42px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-menu-fourth-wrapper {
  width: 86px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-menu-font-wrapper {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 500;
  color: white;
  text-align: start;
  line-height: 1.7;
}

.footer-bottom-box {
  width: calc(100% - 32px);
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.header-wrapper {
  background-color: white;
  width: 100%;
  padding: 0px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  border-bottom: var(--divider-grey) solid 2px;
  /* 다하기 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-logo {
  width: 132px;
}
.header-label {
  font-family: 700;
  font-size: 14px;
}

.header-right-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
  align-items: center;
}
.header-country-wrapper {
  width: 130px;
  height: 40px;
  background-color: transparent;
  border: #d4d4d4 solid 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.header-country-name {
  font-size: 14px;
  font-weight: 700;
  padding-top: 1px;
}

.header-popup-button {
  width: 16px;
  height: 16px;
}

.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-top-guide-wrapper {
  display: flex;
  flex-direction: row;
}

.main-top-guide-purple {
  font-size: 48px;
  font-weight: 800;
  color: var(--luna-purple);
  letter-spacing: -0.3px;
}

.main-top-guide-black {
  font-size: 48px;
  font-weight: 800;
  color: black;
  letter-spacing: -0.5px;
}

.main-top-guide-blue {
  font-size: 48px;
  font-weight: 800;
  color: var(--deplois-blue);
  letter-spacing: -0.5px;
}

.main-bottom-guide {
  letter-spacing: -0.5px;
  margin-top: 4px;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.main-background-picture {
  width: 100%;
  height: 462px;
  padding: 128px 80px;
  background-image: url("../assets/main_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: var(--divider-grey) 2px solid;
}
.main-guide-wrapper {
  display: flex;
  flex-direction: column;
}

.main-contact-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.main-console-wrapper {
  background-color: black;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  padding: 11px 18px;
  align-items: center;
}
.main-kakaotalk-wrapper {
  background-color: #fee500;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  padding: 11px 18px;
  align-items: center;
}
.main-discord-wrapper {
  background-color: #5865f2;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  padding: 11px 18px;
  align-items: center;
}
.main-contact-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.main-console-text {
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding-top: 2px;
}
.main-kakaotalk-text {
  color: black;
  font-weight: 700;
  font-size: 16px;
  padding-top: 2px;
}
.main-discord-text {
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding-top: 2px;
}
.main-applicant-wrapper {
  width: calc(100% - 160px);
  margin: 16px 80px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.main-applicant-luna-wrapper {
  width: 100%;
  border-radius: 10px;
  border: var(--divider-grey) 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32px;
  padding: 16px;
}
.main-applicant-logo {
  width: 132px;
  height: 88px;
  border-radius: 10px;
}
.main-applicant-luna-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-applicant-luna-right-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.main-applicant-title {
  font-family: "Paperlogy";
  font-size: 20px;
  font-weight: 600;
}
.main-applicant-desc {
  font-size: 14px;
  font-weight: 400;
}
.main-applicant-luna-right-bottom-text {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.main-applicant-luna-right-bottom-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.main-applicant-luna-right-bottom-arrow {
  width: 16px;
  height: 16px;
}
